<div class="container-fluid">
    <h1>App component</h1>
<app-title></app-title>
<app-interpolation></app-interpolation>
<app-proprety-binding></app-proprety-binding>
<app-d-directives-structurelle></app-d-directives-structurelle>
<app-e-directives-attributs></app-e-directives-attributs>
<app-f-evenement></app-f-evenement>
<app-g-input
    message="Salut !" 
    [listProduits]="produits">
</app-g-input>

<p>Compteur: {{ compteur }}</p> -->
<app-h-output
    [compteurEnfant]="compteur"
    (myIncrementerCompteur)="incrementerParent(
        $event
    )"
    (messageUpdate)="afficherMessage($event)"
>

</app-h-output>
<app-i-observable></app-i-observable>
</div>