<hr>
<h2>Directives attributs</h2>
<h4 style="color: rgb(122, 118, 118);">Le style & class css</h4>
<p [style.color]="couleur">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum exercitationem corrupti praesentium repellendus optio error maiores adipisci. Qui, dolores sequi similique, aspernatur numquam quasi rem repellat voluptate hic facilis quas.</p>

<p [ngStyle]="{color: 'cornflowerblue',
fontSize: '20px'}"  class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus incidunt hic commodi eveniet porro, ipsum reiciendis</p>

<p [class]="maClasse">Lorem ipsum dolor sit amet consectetur.</p>
<p [class.error]="couleur === 'coral'">Lorem ipsum dolor sit amet consectetur.</p>

<p [ngClass]="mesClass">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>